.container {
  max-width: 100%;
}

.container__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3%;
}

.container__content .forms {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin-top: 10px;
  gap: 1.5rem;
}